.__dumi-default-layout[data-site-mode='true'][data-show-slugs='true'] {
  padding-right: 38px;
}
.__dumi-default-code-block {
  height: 600px;
  overflow: auto;
}
@media only screen and (max-width: 1440px) {
  .__dumi-default-mobile-previewer {
  }
}
