$hd: 1px;
// 图标尺寸
// ---
$icon-size-xxs: 15 * $hd;
$icon-size-xs: 18 * $hd;
$icon-size-sm: 21 * $hd;
$icon-size-md: 22 * $hd; // 导航条上的图标、grid的图标大小
$icon-size-lg: 36 * $hd;
.fui-icon {
  width: 1.2em;
  height: 1.2em;
  display: inline-block;
  fill: currentColor;
}
